html, body {
    width: 100%;
    height:100%;
  }
  
  body {
      background: linear-gradient(-45deg, #557C83, #3AADA8, #A2D5AC, #E5EEC1);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

  .css-input {
    padding: 7px;
    font-size: 15px;
    border-width: 3px;
    border-color: #3AADA8;
    background-color: #557C83;
    color: #A2D5AC;
    border-style: solid;
    border-radius: 50px;
    box-shadow: 3px 3px 5px rgba(66,66,66,.50);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
.css-input:focus {
    outline:none;
}

.BUTTON_GEN {
    background: #3AADA8;
    background-image: -webkit-linear-gradient(top, #3AADA8, #E5EEC1);
    background-image: -moz-linear-gradient(top, #3AADA8, #E5EEC1);
    background-image: -ms-linear-gradient(top, #3AADA8, #E5EEC1);
    background-image: -o-linear-gradient(top, #3AADA8, #E5EEC1);
    background-image: -webkit-gradient(to bottom, #3AADA8, #E5EEC1);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #2C8581;
    font-family: "Arial Black";
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    text-shadow: 1px 1px 25px #000000;
    border: solid #FFFFFF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_GEN:hover {
    border: solid #FFFFFF 1px;
    background: #E5EEC1;
    background-image: -webkit-linear-gradient(top, #E5EEC1, #3AADA8);
    background-image: -moz-linear-gradient(top, #E5EEC1, #3AADA8);
    background-image: -ms-linear-gradient(top, #E5EEC1, #3AADA8);
    background-image: -o-linear-gradient(top, #E5EEC1, #3AADA8);
    background-image: -webkit-gradient(to bottom, #E5EEC1, #3AADA8);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

 .css-3d-text {
    font-size: 40px;
    color: #557c83;
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: 0px 0px 0 rgb(80,119,126),
                 1px 1px 0 rgb(76,115,122),
                 2px 2px 0 rgb(71,110,117),
                 3px 3px 0 rgb(66,105,112),
                 4px 4px 0 rgb(62,101,108),
                 5px 5px 0 rgb(57,96,103),
                 6px 6px 0 rgb(52,91,98),
                 7px 7px 0 rgb(47,86,93),
                 8px 8px 0 rgb(43,82,89),
                 9px 9px 0 rgb(38,77,84),
                 10px 10px  0 rgb(33,72,79),
                 11px 11px 10px rgba(56,189,182,1),
                 11px 11px 1px rgba(56,189,182,0.5),
                 0px 0px 10px rgba(56,189,182,.2);
 }

.css-3d-text2 {
    font-size: 19px;
    color: #3b9c97;
    font-family: Arial Black, Gadget, sans-serif;
    text-shadow: 0px 0px 0 rgb(49,146,141),
                 1px 1px 0 rgb(39,136,131),
                 2px 2px 0 rgb(29,126,121),
                 3px 3px 0 rgb(20,117,112),
                 4px 4px 0 rgb(10,107,102),
                 5px 5px 0 rgb(0,97,92),
                 6px 6px 0 rgb(-10,87,82),
                 7px 7px  0 rgb(-20,77,72),
                 8px 8px 7px rgba(46,242,232,1),
                 5px 5px 0px rgba(46,242,232,0.5),
                 0px 0px 7px rgba(46,242,232,.2);
 }

 .css-3d-text3 {
    font-size: 19px;
    color: #33b8b1;
    font-family: Arial Black, Gadget, sans-serif;
    text-shadow: 0px 0px 0 rgb(36,169,162),
                 1px 1px 0 rgb(22,155,148),
                 2px 2px 0 rgb(7,140,133),
                 3px 3px 0 rgb(-7,126,119),
                 4px 4px 0 rgb(-22,111,104),
                 5px 5px  0 rgb(-37,96,89),
                 6px 6px 5px rgba(44,133,129,0.27),
                 6px 6px 1px rgba(44,133,129,0.5),
                 0px 0px 5px rgba(44,133,129,.2);
 }
